# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html
#配置文件
[settings]
default = tubatu_scrapy_project.settings

[deploy]
#url = http://localhost:6800/
project = tubatu_scrapy_project
